/*
 * Aiming for a minimal design with minimal CSS.
 *
 * Initially based on the layout for http://skim.la/
 */

/*
 * Font and background defaults for <body>, we use the Ubuntu Web Font
 * if available.
 */
body {
  background: #f7f7f7;
  color: #000;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 300;
}
/* Monospace Ubuntu for code sections */
code {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 16px;
}

/*
 * Put back defaults previously removed by reset.css
 */
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
em {
  font-style: italic;
}
ol {
  list-style-type: decimal;
}
strong {
  font-weight: bold;
}
ul {
  list-style-type: disc;
}
h1 {
  border-bottom: 2px solid #e7e7e7;
  font-size: 32px;
  font-weight: 500;
}
h2 {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 10px;
  padding-top: 20px;
}
h3 {
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 10px;
  padding-top: 15px;
}
h4 {
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 10px;
  padding-top: 15px;
}

/*
 * `content' is the main layout holder for all viewable elements
 */
#content {
  margin: 20px 15%;
}

/*
 * `banner' contains the main page title and some static links
 *
 * Make the main title large, links smaller, don't underline links, and change
 * the colour of links slightly when hovered.
 */
#banner {
  padding: 0px 60px 10px;
  text-align: right;
}
#bannertitle {
  font-size: 24px;
  font-weight: 500;
}
#bannertitle a {
  color: #000;
}
#bannertitle a:hover {
  text-decoration: none;
}
#bannerlinks {
  font-size: 14px;
}
#bannerlinks a {
  color: #444;
}

/*
 * #post* contain the actual content
 */
#post {
  padding-bottom: 20px;
}
#postinfo {
  color: #777;
  font-size: 12px;
  font-weight: 300;
  padding: 5px;
}
#postinfo a {
  color: #777;
}
#postdate {
  float: left;
}
#posttags {
  text-align: right;
}
#postbody {
  line-height: 1.25em;
  padding: 15px;
  text-align: justify;
}
#postbody a {
  color: #00a;
}
#postbody p {
  padding: 5px 0px;
}
#postbody .postimg {
  margin: 20px;
}
#postbody img {
  max-width: 100%;
  width: auto;
}
#postbody ol {
  padding: 5px 25px;
}
#postbody ul {
  padding: 5px 25px;
}
#postbody li {
  padding: 5px 0px;
}
.posttable {
  margin: 10px 20px;
}
.posttable table {
  background: #f7f7f7;
  color: #000;
  line-height: 1.50em;
  table-layout: fixed;
  width: 100%;
}
.posttable th {
  font-weight: 500;
  text-align: center;
}
.posttable td {
  border: 1px solid #aaa;
  padding: 5px;
  /* XXX: non-standard, but how else do you do it? */
  word-wrap: break-word;
}

/*
 * Post lists
 */
#taggedposts {
  padding: 0px 80px 20px;
}
#allposts {
  padding: 0px 80px;
}
ul.posts {
  line-height: 1.75em;
  list-style-type: none;
  padding: 5px;
}
ul.posts span {
  font-family: 'Ubuntu Mono', monospace;
}
ul.posts a {
  color: #000;
}
