.highlight {
  border: 1px solid #aaa;
  overflow: hidden;
  line-height: 1em;
  text-shadow: none;
  margin: 10px 20px;
  width: auto;
}
.highlight:hover {
  overflow: auto;
}
.highlight pre {
  margin: 5px;
  width: auto;
}
/* syntax definitions sourced from external file */
