.highlight {
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  overflow: hidden;
  line-height: 1.50em;
  text-shadow: none;
  margin: 10px 20px;
  width: auto;
}
.highlight:hover {
  overflow: auto;
}
.highlight pre {
  margin: 10px 20px;
  width: auto;
}
/* syntax definitions sourced from external file */
