Redirect permanent /blog/2008/12/jumpstart_from_osx/ /posts/2008/12/jumpstart-from-osx/
Redirect permanent /blog/2012/02/new-blog/ /posts/2012/02/new-site-design/
Redirect permanent /blog /posts
Redirect permanent /feed/ /rss.xml
Options -Indexes
ErrorDocument 403 /notfound.html
ErrorDocument 404 /notfound.html
