---
layout: default
---
<div id="post">
        <h1>{{ page.title }}</h1>
        <div id="postinfo">
          <div id="postdate">
            {{ page.date | date: "%b %d, %Y" }}
          </div>
          <div id="posttags">
            tags: {% for tag in page.tags %}<a href="/tags/{{ tag }}.html">{{tag}}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}
          </div>
        </div>
        <div id="postbody">
          {{ content }}
        </div>{% if page.twid %}
        <div id="postcomment">
          Discuss this post on <a href="https://twitter.com/#!/jperkin/status/{{ page.twid }}">Twitter</a>{% if page.hnid %} or <a href="http://news.ycombinator.com/item?id={{ page.hnid }}">HackerNews</a>{% endif %}
        </div>{% endif %}
        <hr />
      </div>
