---
layout: default
---
<div id="post">
        <h1>{{ page.title }}</h1>
        <div id="postinfo">
          <div id="postdate">
            {{ page.date | date: "%b %d, %Y" }}
          </div>
          <div id="posttags">
            tags: {% for tag in page.tags %}<a href="/tags/{{ tag }}.html">{{tag}}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}
          </div>
        </div>
        <div id="postbody">
          {{ content }}
        </div>
        <div id="postshare">
          Share this post on
          <a href='http://twitter.com/share?url=http://{{ site.url }}{{ page.url }}&text="{{ page.title }}" by @jperkin'>Twitter</a>,
          <a href='http://news.ycombinator.com/submitlink?u=http://{{ site.url }}{{ page.url }}&t={{ page.title }}'>HackerNews</a>,
          <a href='http://www.facebook.com/sharer/sharer.php?u=http://{{ site.url }}{{ page.url }}&t={{ page.title }}'>Facebook</a> or 
          <a href='https://plus.google.com/share?url=http://{{ site.url }}{{ page.url }}'>Google+</a>
        </div>
        <hr />
      </div>
